**/.env*
!**/.env.example


**/build
**/dist

front/.astro

/cms/media
/cms/.DS_Store 
/cms/.next

**/node_modules/
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/data/
/objects/.venv

*.tsbuildinfo

network/certificates/***
!network/certificates/README.md
