**/.env*
!**/.env.example
./**/build

/front/.next
/front/out/
/front/next-env.d.ts
/front/.vercel

/cms/media
/cms/.DS_Store 

**/node_modules/
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/data/

*.tsbuildinfo