**/.env*
!**/.env.example


**/build
**/dist

front/.astro

/cms/media
/cms/.DS_Store 

**/node_modules/
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/data/

*.tsbuildinfo

network/certificates/*.crt
network/certificates/*.key
