@keyframes text-anim {
  from {
    text-shadow:
      0px 0px 100px rgba(var(--gray-01-rgb), 0.7),
      3px 3px 0px var(--blue-01),
      -3px -3px 0px var(--blue-02);
  }
  to {
    text-shadow:
      0px 0px 100px rgba(var(--gray-01-rgb), 0.7),
      -3px -3px 0px var(--blue-01),
      3px 3px 0px var(--blue-02);
  }
}

.container {
  color: var(--gray-01);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container h1 {
  color: var(--slate-gray-09);
  font-size: 8em;
  animation: text-anim 2s infinite alternate;
}

.container a {
  color: var(--blue-01);
  white-space: nowrap;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  text-decoration: none;

  background-color: var(--slate-gray-09);
  border-radius: 30px;
}

.container .house {
  fill: var(--blue-01);
  width: 1em;
  height: 1em;
}
