.home_page {
  width: 100%;
  height: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 5px;
}

.data {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.rowdata {
  width: 70%;
  margin-top: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: var(--white);

  border-radius: 15px;
  border-bottom: solid 3px var(--blue-01);

  background: linear-gradient(
    0deg,
    rgba(var(--slate-gray-01-rgb), 0) 0%,
    rgba(var(--slate-gray-09-rgb), 0.3) 100%
  );
  box-shadow: rgba(var(--blue-01-rgb), 0.2) 0px 8px 10px;
}

.rowdata span {
  font-weight: 700;
}

.country_flag {
  height: 1em;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.links > a {
  font-weight: 900;
  color: var(--white);

  background-color: var(--blue-02);
  border-radius: 100ex;

  padding: 5px 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.links svg {
  margin-right: 5px;
  width: 1.5em;
  height: 1.5em;
  fill: var(--white);
  stroke: var(--white);
}

.links > a:hover {
  background-color: var(--white);
  color: var(--blue-02);
  box-shadow: rgba(var(--blue-02-rgb), 0.25) 0px 54px 55px,
    rgba(var(--blue-02-rgb), 0.12) 0px -12px 30px, 
    rgba(var(--blue-02-rgb), 0.12) 0px 4px 6px,
    rgba(var(--blue-02-rgb), 0.17) 0px 12px 13px, 
    rgba(var(--blue-02-rgb), 0.09) 0px -3px 5px;
}

.links > a:hover svg {
  fill: var(--blue-02);
  stroke: var(--blue-02);
}