.content {
  display: grid;
  overflow-y: hidden;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  gap: 15px;
}

.left {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.content-nav {
  display: flex;
  flex-direction: row;
  padding: 5px 30px;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

.second {
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home {
  display: none;
}
.icon {
  height: 2.1em;
  width: 2.1em;
  fill: var(--white);
}
.icon:hover {
  fill: var(--gray-01);
}

.right {
  padding: 10px 0;
  overflow-y: auto;
}

@media only screen and (max-width: 1200px) {
  .content {
    display: block;
  }
  .content .left:has(+ .second) {
    transform: scaleY(0);
    transition: transform 0.1s ease-in;
    transform-origin: top center;
    animation: hide forwards 0.1s;
  }
  .home {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .content-nav {
    border-bottom: 2px solid var(--white);
  }
  .second {
    max-height: 95svh;
  }
}

@keyframes hide {
  to {
    display: none;
  }
}
